@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px 40px;
}

.btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #000000;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #000000;
    color: #ffffff;
    border: 0.1px solid #ffffff;
}

.none{
    display: none;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 25px 25px 24px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.8);
}

.logo{
    font-size: 35px;
    cursor: pointer;
}

.navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navlinks a{
    font-size: 16px;
    text-decoration: none;
}


.hero .hero-content{
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.hero-content .h2{
    font-size: 24px;
    font-weight: 500;
    margin-top: 125px;
    width: 48%;
}

.hero-content .main{
    display: flex;
    justify-content: space-between;
}

.main h1{
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 95px;
}

.main span{
    cursor: pointer;
    margin-top: 135px;
}

.main span p{
    font-size: 16px;
    font-weight: 500;
}

.main span .span-p-sec{
    display: flex;
    float: right;
    font-size: 16px;
    font-weight: 500;
    color: rgb(111, 111, 111);
}

.image-section{
    margin-top: 130px;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 40px;
}

.image-container .image-card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    cursor: pointer;
}

.image-container .image-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 24px;
    transition: transform 0.3s ease;
    aspect-ratio: 4 / 3;
}

.image-container .image-card img:hover {
    transform: scale(1.03);
}

.image-card p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.third-section-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.third-section-content p{
    font-size: 32px;
    margin-top: 130px;
}

.third-section-content img{
    width: 100%;
    max-width: 100%;
    height: 470px;
    border-radius: 24px;
    margin-top: 130px;
}

footer{
    display: flex;
    gap: 130px;
    flex-direction: column;
}

.footer-content{
    display: flex;
    gap: 50px;
    margin-top: 130px;
}

.footer-content .first-section{
    display: flex;
    flex-direction: column;
    flex: none;
    gap: 32px;
    overflow: hidden;
    position: relative;
    width: 65%;
    padding: 0 150px 0 0;
}

.footer-content .first-section p{
    font-size: 24px;
}

.footer-content .first-section button{
    width: max-content;
}

.footer-content .second-section{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-content .second-section .healding{
    font-size: 10px;
    font-weight: 700
}

.footer-content .second-section .second-sections{
    display: flex;
    gap: 150px;
}

.second-section .second-sections .sec-section-first{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-section .second-sections .sec-section-second{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .third-section p{
    font-size: 14px;
    color: rgb(111, 111, 111);
}